/*Tags*/

body {
  margin: 0;
  padding: 0;
}

input[type="text"] {
  background-color: #e3e3e3;
  border: none;
  height: 40px;
  width: 60%;
}

main {
  padding-top: 200px;
}

nav {
  background-color: white;
  position: fixed;
  width: 100%;
}

select {
  background-color: gray;
  border: none;
  height: 40px;
}

/*clases*/

.contenedor-iconos > img {
  margin: 20px;
}

.contenedor-items > p {
  background-color: purple;
  border-radius: 10px;
  color: white;
  display: inline-block;
  padding: 10px 20px;
}

.columna {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}
